<!-- <table class="table">
    <thead>
      <tr>
        <th>title</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{user.title}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td><button type="button" class="btn-xs btn-orange" (click)="onEdit()">Edit</button></td>
      </tr>
    </tbody>
  </table> -->
